<!-- <div class="container-fluid">
      <div class="row">
        <div class="col-md-3 sidebar">
          <ul class="nav nav-sidebar">
            <li><select ng-model="project.category" class="form-control" ng-change="controller.editProjects(project.category)">
             <option value="" disabled selected style="display: none;">Choose Category</option>
               <option value="children">Children</option>
            <option value="youth">Youth</option>
            <option value="adult">Adult</option>
            <option value="old-age">Old-Age</option>
            </select></li>
          </ul>
        </div> -->
       <!--  <div class="col-md-8  main">
          <div class="row">
            <div class="row placeholders">
              <div class="col-xs-6 col-sm-3 placeholder col-margin" ng-repeat="project in projectlist">
                <div class="modal" id="modal-{{project._id}}">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h3 class="modal-title">{{project.title}}</h3>
                      </div>
                        <div class="modal-body"> -->
                       <!--  <center><img src="{{project.url}}" height="150" width="200" align="middle" alt="{{project.category}}"></center> -->
                        <!--   <div><img src="/image/{{newPathName}}" height="200" height="200"></div>
                          <h4><b>Category</b></h4>
                          <p>
                          {{project.category}}</p>
                          <p>
                          <h4><b>Description</b></h4></p>
                          <p>
                          {{project.description}}</p>
                          <p>
                          <h4><b>Total Amount Required</b></h4></p>
                          <p>
                          {{project.total}}</p>
                          <p>
                          <h4><b>Per Head Donation</b></h4></p>
                          <p>
                          {{project.amount}}</p>
                        </div>
                        <div class="modal-footer">
                        
                           <button class="btn -btn-default" ng-click="controller.select(project._id)">Select</button>
                       
                           <button href="" class="btn -btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                  </div>
                </div>

              <img src="image/give.jpg" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail" data-toggle="modal" data-target="#modal-{{project._id}}" ng-click="controller.loadimage(project._id)">
              <h4>{{project.title}}</h4>
              </div> 
          </div>
        </div>
      </div>
  </div>
</div> -->

<div class="container" ng-init="controller.loadall()">
      <div class="row">
        <div class="col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li><select ng-model="project.category" class="form-control" ng-change="controller.editProjects(project.category)">
             <option value="" disabled selected style="display: none;">Choose Category</option>
               <option value="children">Children</option>
            <option value="youth">Youth</option>
            <option value="adult">Adult</option>
            <option value="old-age">Old-Age</option>
            </select></li>
          </ul>
        </div>
        <div class="col-md-8  main">
          <div class="row">
            <div class="row placeholders">
              <!-- <div class="col-xs-6 col-sm-3 placeholder col-margin" ng-repeat="project in projectlist">  -->
<div class="container">
    <div class="well well-sm" style="width: 83%">
        <strong><center>Donate to the following causes</center></strong>
       
    </div>
    <div id="products" class="row list-group" >
        <div class="item  col-xs-3  col-lg-3" ng-repeat="project in projectlist" >
            <div class="thumbnail">
                <a href="#detailsgroup/{{project._id}}"> <img class="group list-group-image" src="image/give.jpg" class="img-rounded" alt="Generic placeholder thumbnail"/></a>
                <div class="caption">
                <div  style="height: 75px;">
                    <h5 class="group inner list-group-item-heading">
                       <b>{{project.title}}</b></h5>
                    <p class="group inner list-group-item-text">
                      {{ project.description | limitTo: 50 }}{{project.description.length > 20 ? '...' : ''}}</p>
                  </div>
                      <hr>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <p class="lead">
                                Rs. {{project.amount}}</p>
                        </div>
                        <div class="col-xs-12 col-md-6" role="separator" class="divider">
                            <a class="btn btn-success" href="#detailsgroup/{{project._id}}">View</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>